/* Selector {
    Property: value;
} */

* {
    text-align: right;
}

body {
    background-image: url(background_image.jpg);
    background-size: cover;  /* this adjusts size */
}

p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(111, 176, 170, 0.5); /* 'a' and 4th number are opacity */
    cursor: pointer;
}

p {
    /* text-decoration: line-through; */
    /* text-transform: uppercase; */
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Poiret One', cursive;
}

img {
    float: right; /* use sparingly, if it all */
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {  /* a class */
    border: 5px dashed green;
}

.active {  /* another class */
    color: red;
}

#div1 { /* uses # sign. Can only be used once */
    background: rgba(0, 255, 0, 0.2);
}

#div2 {
    background: rgba(100, 0, 100, 0.3)
}